<html lang="pt_br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cata-Bagulho | Login </title>
        <link rel="stylesheet" public href="../public/css/style.css" type="text/css" />
    </head>

    <script>
        function Teste(){
            alert('Pedimos Desculpa ! Site ainda está em desenvolvimento ')
        }
    </script>

    <body>
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="http://localhost/exercicio/noobframework-master/home">Inicio</a></li>
                    <li><a href="http://localhost/exercicio/noobframework-master/home/Acesso">Acesso</a></li>
                </ul>
            </nav>
        </header>

        <section id="acesso">
        
            
            <div>
                <h2> Acesso ao Cadastro </h2>

                   <div>
                        <label>
                                E-mail
                                <input placeholder="Digite seu e-mail"></input>
                        </label>

                        <label>
                                Senha
                                <input placeholder="Digite sua senha"></input>
                        </label>  

                        <label><a href="Clientes" class="botao2">Acessar</a></label>         

                        <label><a onclick="Teste()" class="botao2">Esqueceu sua senha?</a></label>

                        <label><a href="Cadastro" class="botao2">Ainda não possui cadastrado? Então Cadastra-se</a></label>

                    </div>
            </div>

        </section>
    
    
        <footer>
            <p> Desenvolvido pela equipe Cata-Bagulho</p>
        </footer>
                
                
    </body>
</html>	
    