<html lang="pt_br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cata-Bagulho | Agendamento </title>
        <link rel="stylesheet" public href="../public/css/style.css" type="text/css" />
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="http://localhost/exercicio/noobframework-master/home">Inicio</a></li>
                    <li><a href="http://localhost/exercicio/noobframework-master/home/Clientes">Servicos</a></li>
                    <li><a href="http://localhost/exercicio/noobframework-master/home">Sair</a></li>
                </ul>
            </nav>
        </header>

        <section id="agenda">

            <div>
                <h1>Escolha um dia da Semana</h1><br>
                <input id="date" type="date" min="tomorrow"><br><br>    

                <h1>Escolha um Horário</h1><br>
                <select name="hours" id="hours">
                    <option>Selecione...</option>
                    <option value="9:00">9:00</option>
                    <option value="9:30">9:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                </select><br><br>      

                <a href="" class="botao2">Agendar<a> <!-- Tela de Agendamento -->
                <a href="Clientes" class="botao2">Volta a tela anterior</a><br> <!-- Tela de Itens -->
            </div>
            
        
        </section>
    
    
        <footer>
            <p> Desenvolvido pela equipe Cata-Bagulho</p>
        </footer>
                
                
    </body>
</html>	