<html lang="pt_br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cata-Bagulho | Clientes </title>
        <link rel="stylesheet" public href="../public/css/style.css" type="text/css" />
    </head>

    <body>
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="http://localhost/exercicio/noobframework-master/home">Inicio</a></li>
                    <li><a href="http://localhost/exercicio/noobframework-master/home">Sair</a></li>
                </ul>
            </nav>
        </header>

        <section id="cliente">
           
            <div>
                <h1>Bem Vindo</h1><br>
                <a href="Agendamento" class="botao2">Deseja Agendar Atendimento?</a><br> <!-- Tela de Agendamento -->
                <a href="Itens" class="botao2">Deseja Consultar Itens Disponíveis?</a><br> <!-- Tela de Itens -->
                <a href="Consulta_Agendamento" class="botao2">Deseja Consultar Seus Agendamentos</a><br> <!-- Tela de Consulta_Agendamento -->
                <a href="Consulta_Cadastro" class="botao2">Deseja Consultar Seus Dados Cadastrais?</a><br> <!-- Tela de Consulta_Cadastro -->
            </div>

        </section>
    
    
        <footer>
            <p> Desenvolvido pela equipe Cata-Bagulho</p>
        </footer>
                
                
    </body>
</html>	
    