<html lang="pt_br">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Cata-Bagulho </title>
        <link rel="stylesheet" public href="public/css/style.css" type="text/css" />
    </head>

    <script>
        function Teste(){
            alert('Pedimos Desculpa ! Site ainda está em desenvolvimento ')
        }
    </script>

           
	<body>
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="home">Inicio</a></li>
                    <li><a href="home/Acesso">Acesso</a></li>
                </ul>               
            </nav>
        </header>

        <section id="catabagulho">
            <h1> Cata-Bagulho</h1>
            <p> O Cata-Bagulho é uma ação gratuita promovida pela Prefeitura de São Paulo, sendo o intuito combater o descarte irregular considerando um crime ambiente que está sujeito a muita de até R$ 16003,53 em caso que houve flagrante, conforme a Lei de Limpeza Urbana, nº13.478/02, artigo 185.</p>

            <p>O serviço de Disque Cata-Bagulho em Taboão da Serra foi lançado em março de 2013. Desde então permitindo que o munícipe tenha a possibilidade de agendar a retirada de móveis e eletrodoméstico sem custo, assim diminuído a frequência do descarte irregular nas ruas.</p>

            <p> Nesse serviço de Disque Cata-Bagulho é importante enfatizar que não há retirada lixo ou entulho. O foco desse serviço são objetos em desuso como por exemplo: aparelhos eletrônicos, móveis, eletrodoméstico e entre outros.</p>

            <p> Importante citar que o descarte irregular é prejudicial para a cidade em questão de acesso do pedestre as calçadas da cidade, contribuição ao risco de enchente e risco de algumas doenças como por exemplo as transmitidas pelo mosquito <i>Aedes Aegypti</i> e outras pragas urbanas.
            </p>
        </section>

        <section id="sobre">
            <h2> Sobre </h2>

            <p> Sou Morador da Cidade de Taboão da Serra e acredito que o serviço de cata-bagulho não é muito divulgado na cidade de Taboão da Serra, também localizei algumas queixas pela internet e percebi que há alguns pontos negativos no agendamento que hoje é feito apenas por telefone. Dessa forma temos a ideia de permitir que esse agendamento também seja feito através de um aplicativo e de um site.</p>

        </section>

        <section id="servico">
            <h2> Servico</h2>

            <div>
                <img src="teste.jpg" alt="teste">
                <h3> Agendar Atendimento </h3>
                <p> Escolha o melhor dia e horário para irmos até você e efetuar a retirada </p><br>
                <a href="home/acesso" class="botao"> Agende o atendimento </a> 
            </div>
                
            <div>
                <img src="teste.jpg" alt="teste2">
                <h3> Consulta objetos em desusos </h3>
                <p> Após triagem separamos o que ainda está em boa qualidade e disponibilizamos para aquisição </p>
                <a href="home/acesso" class="botao"> Consulte objetos  </a>
            </div>

        </section>

        <section id="contato"> 
            <h2> Contato </h2>
            <p> Esse site ainda está sendo construido para um trabalho de TCC</p>
            
                <div>
                    <img src="teste.jpg" alt="telefone">
                    <p><a href="tel:xx555555555" class="botao">(xx) 55555 - 5555 </a></p>
                </div>

                <div>
                    <img src="teste.jpg" alt="email">
                    <p><a href="malito:email@contato.com.br" class="botao"> email@contato.com.br </a></p>
                </div>

        </section>

        <footer>
            <p> Desenvolvido pela equipe Cata-Bagulho</p>
        </footer>
			
			
	</body>
</html>	