<html lang="pt_br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cata-Bagulho | Itens </title>
        <link rel="stylesheet" public href="../public/css/style.css" type="text/css" />
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="http://localhost/exercicio/noobframework-master/home">Inicio</a></li>
                    <li><a href="http://localhost/exercicio/noobframework-master/home/Clientes">Servicos</a></li>
                    <li><a href="http://localhost/exercicio/noobframework-master/home">Sair</a></li>
                </ul>
            </nav>
        </header>

        <section id="cadastro">

            <div>
                <h1>Itens</h1><br>
                <a href="Clientes" class="botao2">Volta a tela anterior</a><br>
            </div>
            
        
        </section>
    
    
        <footer>
            <p> Desenvolvido pela equipe Cata-Bagulho</p>
        </footer>
                
                
    </body>
</html>	